* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General Styles */

:root {
    --white: #ffe8d6;
    --dark-green: #6b705c;
    --light-green: #b7b7a4;
    --brown: #352325;
    --peach: #ddbea9;
    --font-sans: "IBM Plex Sans", Helvetica, sans-serif;
    --font-serif: "IBM Plex Serif", "Bodoni 72 Oldstyle", Cochin, Georgia, serif;
    --font-h1: "Shrikhand", "Bodoni 72 Oldstyle", Cochin, Georgia, serif;
}

html {
    font-family: var(--font-sans);
    font-optical-sizing: auto;
    font-size: 10px; /* 1rem = 10px */
    text-align: center;
    
    color: var(--brown);
    background-color: var(--white);
}

header,
nav,
footer {
    color: var(--white);
    background-color: var(--dark-green)
}

h2,
h4,
h5,
h6,
.underlay:before {
    font-family: var(--font-serif)
}

h1 {
    font-family: var(--font-h1);
    font-size: clamp(5.6rem, 8vw, 8.4rem);
    font-weight: 400;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: .15rem;
    text-wrap: balance;
    text-shadow: .2rem .2rem .15rem var(--brown)
}

h2 /*about heading */ {
    font-size: 4.2rem;
    font-weight: 700;
    font-style: italic;
    line-height: 1.2;
    padding-bottom: 2rem;
}

h3 /* section headings */ {
    font-size: 3.6rem;
    font-weight: 700;
    letter-spacing: -.07rem;
    padding-bottom: 2rem;
}

h4 /* book titles & community heading */ {
    font-size: 3.0rem;
    font-weight: 600;
    font-style: italic;
}

h5 /* book author */ {
    font-size: 2.4rem;
    font-weight: 400;
}

h6 {
    font-size: 2rem;
    font-weight: 500;
}

body {
    font-size: 1.6rem;
    min-width: 38rem;
}

a,
input[type="submit"] {
    color: var(--white);
    text-decoration: underline transparent;
    text-underline-offset: .2rem;
    transition: text-decoration-color .2s ease-in-out .1s, text-underline-offset .2s ease-in-out .1s;
}

a:hover,
input[type="submit"]:hover {
    text-decoration: underline var(--peach);
    text-underline-offset: .5rem;
}

/* navigation bar */

.underlay {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.underlay:before {
    content: 'Book Club';
    font-size: clamp(8rem, 19vw, 20rem);
    font-weight: 700;
    font-style: italic;
    letter-spacing: .5rem;
    text-wrap: nowrap;
    color: rgba(183, 183, 164, .25);
    
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 46%);
    z-index: 100;
}

header h1 {
    position: relative;
    margin: 1.65rem .5rem .65rem .5rem;
    z-index: 101;
}

nav {
    width: 100%;
    max-width: 140rem;
    position: relative;
    padding: 1rem 2.5% 1rem 2.5%;
    margin: 0 auto;
    z-index: 101;
}

nav a {
    padding: 0 .5rem;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav li {
    list-style: none;
}

@media only screen and (max-width: 650px) {
    header h1 {
        margin-top: 1.25rem;
    }
    nav {
        padding-top: 0.3rem;
    }
}

@media only screen and (max-width: 500px) {
    header h1 {
        margin: 1rem .5rem 0 .5rem;
    }
    nav {
        padding-top: 0;
    }
}

/* about section */
.about-section {
    padding: 7rem 7.5%;
}

.about-content {
    max-width: 140rem;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

.about-text {
    text-wrap: balance;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex: 0 0 57%;
}

.about-text p {
    font-size: 2.4rem;
}

.about-image-container {
    overflow: hidden;
    flex: 0 1 38%;
}

.about-image-container img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    border-radius: 3rem;
}

@media only screen and (max-width: 1396px) {
    .about-content {
        justify-content: flex-start;
    }
}

@media only screen and (max-width: 1000px) {
   .about-section { 
        padding: 3rem 7.5%;
   }

    .about-content {
        flex-direction: column;
        align-items: center;
    }

    .about-text {
        max-width: 100%;
        flex: 0 0 auto;
    }

    .about-image-container {
        max-width: 40rem;
        flex: 0 1 auto;
    }
}

@media only screen and (max-width: 501px) {
    .about-text h2 {
        font-size: 3.8rem;
    }
    .about-text p {
        font-size: 2rem;
    }
}

/* book section */

.current-section {
    background-color: var(--peach);
    padding: 3rem 7.5%;
}

.book-container {
    max-width: 140rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.reverse {
    flex-direction: row-reverse;
}

.book-image-container {
    max-width: 22rem;
    min-width: 15rem;
    overflow: hidden; 
    flex: 0 1 22rem;
}

.book-image-container img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 1.5rem;
}

.this-month .book-image-container {
    padding-right: 2rem;
}

.next-month .book-image-container {
    padding-left: 2rem;
}

.book-info {
    text-align: left;
    text-wrap: pretty;  

    max-width: 70%; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.book-title {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

.book-info p {
    line-height: 1.4;
    padding-bottom: 1rem;
}

.book-links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.book-links a {
    font-weight: 500;
    background-color: var(--brown);

    padding: 1.1rem 1.4rem;
    margin-right: 2rem;
    border-radius: 1.2rem;
}

.book-small-screen {
    display: none;
}

.current-section hr {
    height: .15rem;
    margin: 3rem 0;
    border: 0;
    border-top: .15rem solid var(--white);
}

@media only screen and (max-width: 699px) {
    .book-small-screen {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;   
    }
    .book-large-screen {
        display: none;
    }
    .book-links a {
        margin-bottom: 1.5rem;
    }
    .next-month .book-links a {
        margin-right: 0;
        margin-left: 2rem;
    }
}

@media only screen and (max-width: 545px) {
    .book-title h4 {
        font-size: 2.8rem;
    }
    .book-title h5 {
        font-size: 2rem;
    }
    .book-small-screen {
        margin-top: 3rem;
    }
    .book-links a {
        margin-bottom: 2.5rem;
    }
}

/* previous book section */

.previous-section {
    padding: 3rem 7.5%;
}

.previous-carousel {
    max-width: 140rem;
    margin: 0 auto;

    display: flex;
    overflow-x: auto;

    &:hover .previous-group {
      animation-play-state: paused;
    }
}

.previous-carousel::-webkit-scrollbar {
  display: none;
}

.previous-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-right: 2rem;
    
    animation: spin 14s infinite linear;
}

.previous-section .book-image-container {
    min-width: 0;
    flex: 0 0 13rem;
}

@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}

/* community section */

.community {
    padding: 3rem 7.5%;
    background-color: var(--light-green);
}

.community-container {
    max-width: 140rem;
    margin: 0 auto;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding-bottom: 1.5rem;
}

.community-image-container {
    max-width: 39rem;
    flex: 1 1 0;
    overflow: hidden;
}

.community-image-container img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 3rem;
}

.community h4 {
    text-wrap: balance;
}

@media only screen and (max-width: 725px) {
    .last-image {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .middle-image {
        display: none;
    }
    .community-image-container {
        max-width: 30rem;
        margin: 0 auto;
    }
}

/* footer with sign-up */

footer {
    padding: 2rem 7.5% 1rem 7.5%;
}

.connect-container {
    margin-bottom: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.event {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.event h4,
.newsletter-container h4 {
    font-family: var(--font-sans);
    font-size: 2.6rem;
    margin-bottom: 2rem;
    font-style: normal;
}

.event-container {
    display: flex;
    align-items: center;
    justify-content: center;
}   

.event-date {
    color: var(--brown);
    background-color: var(--white);
    
    padding: .5rem .9rem;
    margin-right: 1rem;
    border-radius: .5rem;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.event-title {
    margin-left: 1rem;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.newsletter-container {
    width: 45%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Sign up form */

.sign-up {
    display: flex;
    justify-content: center;
    width: 100%;
}

input {
    font-family: var(--font-sans);  
    font-size: 1.6rem;
}

.sign-up-left {
    color: var(--brown);
    background-color: var(--white);

    max-width: 30rem;
    min-width: 20rem; 
    border: .2rem solid var(--brown);
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    outline: none;
    box-shadow: none;
    padding: 1.25rem;
    flex: 1 1 30rem;
}

.sign-up-left:focus {
    outline: none;
    box-shadow: inset 0 0 .2rem var(--brown);
}

.sign-up-right{
    background-color: var(--brown);
    border: .2rem solid var(--brown);
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    padding: 1.25rem 1.75rem;
    flex-shrink: 0;
}

.sign-up-right:hover{
   cursor: pointer;
}

footer span {
    font-size: 1.2rem;
}

@media only screen and (max-width: 690px) {
    .connect-container {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .newsletter-container,
    .event {
        width: 100%;
    }

    .event {
        margin-bottom: 2.5rem;
    }
    
    .event h4,
    .newsletter-container h4 {
        margin-bottom: 1rem;
    }
}